@font-face {
    font-family: 'fontewow';
    src: url(fontes/Witcher\ Knight.ttf);
}

@font-face {
    font-family: 'fontewow2';
    src: url(fontes/A_Font_with_Serifs.ttf);
}

@font-face {
    font-family: 'normal';
    src: url(fontes/coolvetica\ condensed\ rg.otf);
}

@media(max-width:750px) {
    .icone {
        display: none;
    }

  

    #gamberr{display: flex;
        flex-direction: column;
        justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;}

   .Gamberr{margin-top: 20px;
margin-left: 15px;}



#crash{display: flex;
    flex-direction: column;
    justify-content: center;
justify-items: center;
align-items: center;
align-content: center;
}

    .descrição {
        display: flex;
        justify-content: end;
        text-align: center;
    }



    .primeiraLinhaVideo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .segundaLinhaVideo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

  

    #fundo04{display: none;}

    #camposDeBatalha{display: flex;
    flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-content: center;
align-items: center;}

#primeiraLinhaVideo{display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-content: center;
align-items: center;
}

#divVideos{width: 400px;}

#videos{display: flex;
flex-direction: column;
justify-content: center;
justify-items: center;
align-items: center;
align-content: center;}

#segundaLinhaVideo{display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;}
}




article {
    font-family: 'normal';
}

body {
    margin: 0px;
    background-color: #211510;
    text-align: center;
}

h1 {
    font-family: 'fontewow';
    color: #F2BF27;
}

h2 {
    font-family: 'fontewow2';
    color: #F2BF27;
    margin: 0px;
}



header {
    background-color: black;
    margin-bottom: 30px;
    height: 180px;
    border-bottom: solid 1px #F2BF27;
    padding-bottom: 20px;


}

#F2BF27 .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

nav {
    text-align: center;
}

.menu>div {
    text-align: center;
}

.menu>div>img {
    width: 70vh;
}

.menu>nav>a {
    color: #F2BF27;
    padding-left: 5px;
    text-decoration: none;
    font-family: 'fontewow';
}

.menu>nav>a:hover {
    background-color: #F2BF27;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
}

.fundo01 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 100px;
}

.fundo02 {
    display: flex;
    margin-top: 10px;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 50px;
    border-top: solid 1px #F2BF27;
}

.icone>img {
    width: 30vh;
}

.icone {
    margin-top: 100px;
    border-top: solid 1px #F2BF27;
    border-bottom: solid 1px #F2BF27;
}

.descrição {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 400px;
    margin-top: 0px;
    background-color: black;
    height: 300px;
    border-radius: 5px;
    margin-left: 10px;
}

.descrição>h2 {
    background-color: #F2BF27;
    padding-left: 115px;
    color: black;
    padding-right: 115px;
    margin-top: 0px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.descrição>div>article {
    border-top: solid 2px #F2BF27;
    border-bottom: solid 2px #F2BF27;
    border-radius: 0px 10px 0px 10px;
    color: transparent;
    margin: 5px;
}

.Gamberr {
    border-top: solid 1px #F2BF27;
    width: 400px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    margin-right: 10px;
}

.crash {
    width: 400px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    border-top: solid 1px #F2BF27;
    margin-top: 10px;
}

.descrição02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 400px;
    margin-top: 0px;
    background-color: black;
    height: 300px;
    border-radius: 5px;
    margin-top: 10px;
}

.descrição02>div>img {
    width: 40vh;
}

.descrição02>div {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.descrição02>div>h2 {
    background-color: #F2BF27;
    background-color: #F2BF27;
    padding-left: 115px;
    color: black;
    padding-right: 115px;
    margin-top: 0px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.descrição02>article:hover {
    background-image: none;
    background-color: #211510;
    color: #F2BF27;
    transition: 1s;
}

.descrição02>article {
    background-color: #211510;
    border-top: solid 2px #F2BF27;
    border-bottom: solid 2px #F2BF27;
    border-radius: 0px 10px 0px 10px;
    margin: 5px;
    color: transparent;
    background-image: url(imagens/cursor.png);
    background-size: 10vh;
    background-position: center;
    background-repeat: no-repeat;
}

.crash>img {
    width: 60vh;
}

.Gamberr>img {
    width: 60vh;
}

.descrição>div>article {
    background-color: #211510;
    color: transparent;
    background-image: url(imagens/cursor.png);
    background-size: 10vh;
    background-position: center;
}

.descrição>div>img {
    width: 40vh;
}

.voltarAoMenu {
    text-align: center;
    color: #F2BF27;
    font-family: 'fontewow';
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
}

.voltarAoMenu:hover {
    background-color: #F2BF27;
    color: #211510;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
}




.fundo03 {
    border-top: solid 1px #F2BF27;
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.fundo03>div {
    width: 300px;
}

.camposDeBatalha>img {
    width: 45vh;
    text-align: center;
    margin-left: 5px;
}

.camposDeBatalha {
    margin-top: 10px;
    background-color: black;
    height: 350px;
    border-radius: 10px 0px 10px 0px;
}

.camposDeBatalha:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.568);
    transition: 1s;
    border: solid 2px #F2BF27;
}

.camposDeBatalha>article {
    background-color: #211510;
    border-bottom: solid 2px #F2BF27;
    border-top: solid 2px #F2BF27;
    margin: 10px;
    color: transparent;
    border-radius: 10px 0px 10px 0px;
    background-image: url(imagens/cursor02.png);
    background-size: 10vh;
    background-position: center;
    background-repeat: no-repeat;
}

.camposDeBatalha>article:hover {
    background-image: none;
    background-color: #211510;
    color: #F2BF27;
}

article:hover {
    color: black;
    transition: 1s;
}

.FilhoUnico {
    background-image: url(imagens/cursor.png);
    background-size: 10vh;
    background-repeat: no-repeat;
    background-position: center;
}

.descrição>article:hover {
    color: #F2BF27;
    background-color: #211510;
    transition: 1s;
}

.FilhoUnico:hover {
    color: black;
    background-image: none;
    background-color: #211510;
    color: #F2BF27;
    transition: 1s;
}

.camposDeBatalha>h2 {
    color: #F2BF27;
    text-align: center;
}

.fundo04 {
    opacity: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    margin-bottom: 50px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: solid 2px #F2BF27;
    border-bottom: solid 2px #F2BF27;
    margin-top: 30px;
}

.fundo04 {
    background-image: url(imagens/capa3wow.jpeg);
    height: 360px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}


.videosBg {
    width: 70vh;
    display: none;
}

.TituloVideo {
    background-color: #f2bf277e;
    color: #211510;
    display: inline;
    padding: 10px;
    border-radius: 5px;
}

.cliqueAqui:hover>.videosBg {

    display: block;
    transition: 4s;
    background-color: #211510;
    color: #F2BF27;
}

.cliqueAqui:hover>img {
    display: none;
}

.cliqueAqui {
    background-color: black;
    color: #F2BF27;
    font-size: 25px;
    font-family: 'fontewow2';
    padding: 10px;
    border-radius: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.cliqueAqui>img {
    width: 15vh;
    text-align: center;
}

.divVideos {
    background-color: black;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px 0px 10px 0px;
}

.divVideos>h2 {
    padding: 5px;
}


footer {
    background-color: black;
    color: #F2BF27;
    text-align: center;
    padding: 10px;
    border-top: solid 2px #F2BF27;
    margin-top: 30px;
}

footer>p>a {
    text-decoration: none;
    color: #F2BF27;
}

footer>p>a:hover {
    text-decoration: underline;
}

.descrição:hover {
    border: solid 2px #F2BF27;
    transition: 1s;
}

.descrição02:hover {
    border: solid 2px #F2BF27;
    transition: 1s;
}

.Gamberr:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.658);
    transition: 1s;
}

.crash:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.644);
    transition: 1s;
}